.venv/
.env
__pycache__/
.pytest_cache/
.ruff_cache/

*.py[cod]
*.egg-info/

data/interim/elections/sejm/*.csv
data/interim/features/*.csv
data/processed/elections/sejm/*.csv
data/processed/features/*.csv
data/processed/regions/*.csv

.DS_Store
